/*
    Document   : Website/Code.css
    Created on : 2015-06-09 07:55 PM
    Author     : LeBoop
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
#menu {
    width: 770;
    height: 125px;
    font-size: 23px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: yellowgreen;
        border-radius: 10px;
       }
  #menu ul {
    list-style-type: none
      }
#menu li {
  float: left
    display: inline
    }
p {
    font-family: Arial; color: red;
}
  

