/*
    Document   : Website/Code.css
    Created on : 2015-06-09 07:55 PM
    Author     : LeBoop
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
#menu {
    width: 440;
    height: 125px;
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    background-color: yellowgreen;
        border-radius: 10px;
       }
  #menu ul {
    list-style-type: none
      }
#menu li {
  float: center;
    }
p {
    font-family: Arial; color: black;
}
  

