/*
    Document   : Website/index.css
    Created on : 2015-06-09 04:47 PM
    Author     : LeBoop
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

ul {
list-style-type:none;
}

li {
 float:left;
}
a
{
 font-family: Verdana;
 display: block;
 width: 100px;
 padding: 5px;
 text-align: center;
 background: #1d6991;
 color: ;
 text-decoration: none;
}
a:hover
{
background:#cc0000;
}
tr {
       color: black; text-align: center;
         }
