/*
    Document   : Website/index.css
    Created on : 2015-06-09 04:47 PM
    Author     : LeBoop
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

#menu ul {
list-style-type:none;
    text-align: center;
}

#menu li {
 float:left;
}
a
{
 display: block;
 width: 100px;
 padding: 20px;
 text-align: center;
 background: cornflowerblue;
 color:goldenrod ;
 text-decoration: none;
}
a:hover
{
background:#cc0000;
}
tr {
       color: black; text-align: center;
         }
p {
    text-align: center;
    
}
