/*
    Document   : Website/project.css
    Created on : 2015-06-09 06:48 PM
    Author     : LeBoop
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}
li {
 float:center;
}
a
{
 font-family: Verdana;
 display: block;
 width: 160px;
 padding: 5px;
 text-align: center;
 background: orangered;
 color: blue ;
 font-size: large;
 text-decoration: none;
}
a:hover {
}
body {
    background-image: url("Slate.jpg");
}
p
{
color: yellowgreen;
text-align: left;
}