/*
    Document   : Website/project.css
    Created on : 2015-06-09 06:48 PM
    Author     : LeBoop
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}