/*
    Document   : Website/vind.css
    Created on : 2015-06-11 12:32 AM
    Author     : LeBoop
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

li {
 float:center;
}
a
{
 font-family: Verdana;
 display: block;
 width: 250px;
 padding: 5px;
 text-align: center;
 background: darkblue;
 color: yellowgreen ;
 text-decoration: none;
}
a:hover
{
background: slategray;
}
body {
    background-image: url("background.jpg");
}